<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>
<body>
  <h1>{{ title }}</h1>
  <h2>Welcome {{ user.get("name") }}!</h2>

  <ul>
    {% if api_endpoint %}
    <li><a href="/call_api">Call an API</a></li>
    {% endif %}

    {% if edit_profile_url %}
    <li><a href="{{ edit_profile_url }}">Edit Profile</a></li>
    {% endif %}

    <li><a href="{{ url_for('identity.logout') }}">Logout</a></li>
  </ul>

  <hr>
  <footer style="text-align: right">{{ title }}</footer>
</body>
</html>
